@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


:root {
    /*colors*/
    --primary-200: #F6EFE5;
    --primary: #F79345;

    --white: #ffffff;
    --gray: #868B87;
    --black: #000000;
    --black-200: #1C1C1C;

    /*typography*/
    --ff-montseratt: 'Montserrat', sans-serif;
    --ff-roboto: 'Roboto', sans-serif;

    --fs-1: 3.9rem;
    --fs-2: 3.1rem;
    --fs-3: 2.5rem;
    --fs-4: 2.0rem;
    --fs-5: 1.8rem;
    --fs-6: 1.6rem;

    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;

    /*spacing*/
    --section-padding: 80px;
    --letter-spacing: 1px;

    /*shadow*/
    --shadow-1: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --shadow-2: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --shadow-3: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

    /*border radius*/
    --radius-5: 5px;
    --radius-10: 10px;
    --radius-20: 20px;
    --radius-30: 30px;

    /*transition*/
    --transition: 0.3s ease all;
}

/*RESETTING PROPERTY*/
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a,
img,
span,
input,
button,
strong,
.icon {
    display: block;
}

button {
    cursor: pointer;
}

html {
    font-family: var(--ff-roboto), serif;
    font-size: 10px;
    scroll-behavior: smooth;
    height: 100%;
}

body {
    width: 100vw;
    min-height: 100%;
    overflow-x: hidden;
    background-color: var(--primary-200);
    font-size: var(--fs-6);
    line-height: 1.6;
    position: relative;
    padding-bottom: 180px;
}

button {
    background-color: var(--primary);
    border-radius: var(--radius-5);
    border: none;
    padding: 10px 20px;
    color: var(--white);
    font-weight: bold;
    font-family: var(--ff-montseratt), serif;
}

.btnDark {
    background-color: var(--black-200);
    color: var(--white);
}

